.status-badge {
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 13px;
    color: #ffffff;
    display: inline-block;
}

.status-badge.draft {
    background-color: #6c757d; /* sivo */
}
.status-badge.approved {
    background-color: #17a2b8; /* plavo */
}
.status-badge.done {
    background-color: #28a745; /* zeleno */
}
.status-badge.rejected {
    background-color: #dc3545; /* crveno */
}

.o_kanban_status_circle .o_status {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-left: 8px;
    background-color: #ccc; /* default */
}

.o_kanban_status_circle .o_status.draft {
    background-color: gray !important;
}
.o_kanban_status_circle .o_status.in_progress {
    background-color: orange !important;
}
.o_kanban_status_circle .o_status.done {
    background-color: green !important;
}
.o_kanban_status_circle .o_status.rejected,
.o_kanban_status_circle .o_status.cancel {
    background-color: red !important;
}


.o_kanban_group .o_kanban_counter {
    display: none !important;
}

/* Efekat hovera na workflow karticama */
.ost-workflow-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.ost-workflow-card:hover {
    transform: translateY(-4px);   /* blago podizanje */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* jača sjena */
}

.o_lc_report table thead th {
    background-color: #f3f6f9; /* svijetlosiva pozadina */
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #dee2e6;
}
.o_lc_report table tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

.o_lc_report table td {
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e6;
}
.o_lc_report table td.fw-bold {
    background-color: #f9fbfc;
    font-weight: 700;
    color: #333;
    width: 15%;
}
.o_lc_report table td div {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 6px 8px;
    margin-bottom: 4px;
    font-size: 13px;
    text-align: left;
}
.o_lc_report h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid #4e73df; /* plava linija */
    margin-bottom: 20px;
}








